<section class="section-color-input py-16">
    <div class="container px-4 max-w-3xl">
        <div class="space-y-4 text-gray-700">
            <div class="flex flex-wrap">
                <div class="w-full">
                    <label class="block mb-1" for="forms-labelOverInputCode">Hex codes</label>
                    <textarea class="hex-input textarea-auto-size w-full h-48 px-3 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline"></textarea>
                </div>
            </div>
            <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
                <div class="w-full px-2 md:w-1/2">
                    <label class="block mb-1" for="forms-labelOverInputCode">Language</label>
                    <div class="relative inline-block w-full text-gray-700">
                        <select class="generate-language w-full h-12 pl-3 pr-6 text-base placeholder-gray-600 border rounded-lg appearance-none focus:shadow-outline" placeholder="Regular input">
                            <option value="css">CSS</option>
                            <option value="sass">Sass/Scss</option>
                            <option value="less">Less</option>
                        </select>
                        <div class="absolute inset-y-0 right-0 flex items-center px-2 pointer-events-none">
                            <svg class="w-4 h-4 fill-current" viewbox="0 0 20 20">
                                <path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="w-full px-2 md:w-1/2">
                    <label class="block mb-1" for="forms-labelOverInputCode">Prefix</label>
                    <input type="text" placeholder="Prefix" class="prefix-input w-full h-12 px-4 mb-2 text-lg text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline"/>
                </div>
            </div>
            <div class="flex flex-wrap -mx-2 space-y-4 md:space-y-0">
                <div class="w-full px-2 md:w-1/2">
                    <label class="text-gray-700">
                        <input class="convert-rgb" type="checkbox" value=""/>
                        <span class="ml-1">Convert To RGB</span>
                    </label>
                </div>
                <div class="w-full px-2 md:w-1/2">
                    <label class="text-gray-700">
                        <input class="rgb-varient" type="checkbox" value=""/>
                        <span class="ml-1">Add RGB Varient (*-rgb)</span>
                    </label>
                </div>
            </div>
            <div class="flex flex-wrap">
                <div class="w-full">
                    <button class="button-generate h-10 px-5 text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">Generate!</button>
                </div>
            </div>
        </div>
    </div>
</section>