<section class="section-color-input py-16">
    <div class="container px-4 max-w-3xl">
        <label class="block mb-1" for="forms-labelOverInputCode">Output</label>
        <textarea class="hex-output w-full h-24 px-3 py-2 text-base text-gray-700 placeholder-gray-600 border rounded-lg focus:shadow-outline"></textarea>
    </div>
</section>