---
layout: base
---

{% include "components/section_hero/section_hero.njk" %}
<section class="section-page-content">
    {{ content | safe }}
</section>
{% include "components/section_color_input/section_color_input.njk" %}
{% include "components/section_color_output/section_color_output.njk" %}